# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Mads S-J\OneDrive - Aarhus Universitet\AU 2. semester\Programmeringssprog\miniScala\miniscala\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
